*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header{
    background-color: #EDDB7C;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    top: 0%;
}


.navbar__logo{
    cursor: pointer;
    max-width: 4rem;
    margin-left: 1rem;
}

.nav__list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
}
.nav__list li a{
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
}

.nav__list li a:hover{
    text-decoration: underline 1px;
    cursor: pointer;
}
.open-menu,
.close-menu {
    display: none;
    margin-right: 1rem;
}

.footer{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
    margin-top: 14rem;
}

.footer img{
    display: none;
    width: 12rem;
    margin-top: 3rem;
}
.footer menu{
    font-weight: bold;
    text-align: end;
    margin-right: 1rem;
    margin-top: 3rem;
    margin-left: 9rem;
}
.footer menu a{
    color: #fff;
    font-size: 1.2rem;
}
.footer p{
    margin-top: 4rem;
    margin-left: 1rem;
}
.footer menu a:hover{
    color: #EDDB7C;
}
.footer button{
    height: 4.25rem;
    width: 20.875rem;
    color: #000;
    background-color: #EDDB7C;
    border: none;
    border-radius: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.25rem;
    margin-top: 5rem;
}
.footer button:hover{
    cursor: pointer;
    transition: 0.6s;
    background-color: black;
    color: #fff;
    border: #fff solid 2px;
}

.icons{
    display: none;
}

.icons i{
    font-size: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2.5rem;
}
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.gallery{
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(3,33%);
    gap: 1rem;
}

.image img{
    max-width: 30rem;
    height: ;
}

main h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    color: #000;
    padding: 4rem;
}

@media only screen and (max-width: 768px){

 main h1{
        text-align: center;
    }

    .open-menu,
.close-menu {
    display: block;
    border: 0;
    background: none;
    font-size: 2rem;
}
.close-menu{
    color: #ffff;
}



.nav{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    padding-right: 0.5rem;
    padding-left: 4rem;
    padding-top: 3rem;
    padding-bottom: 100%;
    margin: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.6);
    
}
.nav.visible{
    opacity: 1;
    visibility: visible;
}
.nav__list{
    flex-direction: column;
    align-items: end;
}
.nav__list li a{
    color: #ffff;
}
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 3rem;
    text-align: center;
}
.footer img{
    display: block;
}
.footer button{
    display: none;
}
.icons{
    display: block;
}
.footer menu a{
    color: #ffff;
    line-height: 4rem;
    font-size: 1.5rem;
}
.footer menu{
    text-align: center;
    margin: 0%;
}
.footer p {
    margin-bottom: 3rem;
}

}